<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Full Stock</title>
<!-- 	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon"> -->
<!-- 	<link rel="icon" href="favicon.ico" type="image/x-icon"> -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'libs/font-awesome/css/font-awesome.min.css') }}">
    <link href="{{ url_for('static', filename= 'css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename= 'css/styles.css') }}" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.7.0/d3.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
      <!-- <script src="https://cdn.plot.ly/plotly-1.2.0.min.js"></script> -->
    </head>

</head>

<body>
    <div id="mobile-menu-open" class="shadow-large">
        <i class="fa fa-bars" aria-hidden="true"></i>
    </div>
    <!-- End #mobile-menu-toggle -->
    <header class="sticky">
        <div id="mobile-menu-close">
            <span>Close</span> <i class="fa fa-times" aria-hidden="true"></i>
        </div>
        <ul id="menu" class="shadow">
            <li>
                <a href="#about">About Us</a>  <!-- href -->
            </li>
            <li>
                <a href="#experience">About the Project</a>  <!-- href -->
            </li>
            <li>
                <a href=#skills>Tools</a>
            </li>
            <li>
                <a href="#project">Visualizations</a>
            </li>
        </ul>


    </header>
    <!-- End header -->

    <div id="lead">
        <div id="lead-content">
            <center><h1>Full Stock</center></h1>
            <div class="social">
            </div>
        </div>
        <!-- End #lead-content -->

        <div id="lead-overlay"></div>

        <div id="lead-down">
            <span>
                <i class="fa fa-chevron-down" aria-hidden="true"></i>
            </span>
        </div>
        <!-- End #lead-down -->
    </div>
    <!-- End #lead -->

    <!-- About Us Section-->
    <div id="about"> <!-- what is this doing? -->
        <div class="row">
            <div class="row">
                <h2 class="heading">About Us</h2>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <img class="img-circle" src="{{ url_for('static', filename= 'images/vero.png') }}">
                        <div class="card-body text-center">
                            <h2 class="card-title">Veronika Tueros</h2>
                            <h4 class="eboard-title">Visual Tech Analyst</h5>
                        </div>
                    
                </div>
                <div class="col-md-4">
                    <img class="img-circle" src="{{ url_for('static', filename= 'images/inna1.jpg') }}">
                        <div class="card-body text-center">
                            <h2 class="card-titlex">Inna Baloyan</h2>
                            <h4 class="eboard-title">Visual Data Analyst</h5>
                        </div>
                </div>
                <div class="col-md-4">
                    <img class="img-circle" src="{{ url_for('static', filename= 'images/michael.png') }}">
                        <div class="card-body text-center">
                            <h2 class="card-title">Michael Rutkowski</h2>
                            <h4 class="eboard-title">Data Engineer</h5>
                        </div>
                </div>

<!-- row -->
            </div>
            <div class="row">
                <div class="col-md-6">
                    <img class="img-circle" src="{{ url_for('static', filename= 'images/jose.png') }}">
                        <div class="card-body text-center">
                            <h2 class="card-title">Jose Villalba</h2>
                            <h4 class="eboard-title">Marketing Consultant</h5>
                        </div> 
                </div>
                <div class="col-md-6">
                    <img class="img-circle" src="{{ url_for('static', filename= 'images/rj.png') }}">
                        <div class="card-body text-center">
                            <h2 class="card-title">Roderick Jean</h2>
                            <h4 class="eboard-title">Digital Analyst</h5>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End #about -->

    <div id="experience" class="background-alt">
        <h2 class="heading">About the Project</h2>
        <div id="experience-timeline">
          

            <div>
                <h3><b>Hypothesis:</b> Securities become more stable the longer they remain public in the stock market.</h3>
            </div>

            <div>
                <h3><b>Process:</b> <h5>We gathered data of 4 popular technology stocks (IBM, Apple, Microsoft and Intel) that have been in the market for at least 30 years from "Quandl," which is a marketplace for financial, economic and alternative data.</h5>
            </div>

            <div>
                <h5>We then cleaned, and munged the data to come up with the "Stocks Percent Change MoM over the Security's Life Span","Stocks Volume Change MoM over the Security's Life Span","Stocks Closing Prices MoM over the Security's Life Span", and "Stocks Percent Change over each quater of the Securitiy's Life Span"; these values were used to plot the following charts.</h5>
            </div>

            <div>
                <h3><b>Results:</b><br />
                  <h4><b>Graph 1:</b></h4>
                  <h5>When looking at graph 1, you can see the relationship between the percent change and the four securities. There is a drastic drop in the year 1979 for IBM and in 2014 for APPLE. That's because the company, APPLE, did what is known as a stock has split. It issued more shares to existing investors in order to bring down the price of the stock. Comparing all four securities, Microsoft had the largest peak in 1986. </h5>
                  <h4><b>Graph 2:</b></h4>
                  <h5>Looking at graph 2, you can see the relationship between volume change and the securities’ life span. The only drastic volume change happened for Microsoft in 2006 with 591M. </h5>
                  <h4><b>Graph 3:</b></h4>
                  <h5>When analyzing graph3, you can see the affect time has on the stock’s closing prices. Overall APPLE had the best performance out of the 4 in the year 2012 with a closing price at 667M.  .Unlike the other security, time has a negative effect on IBM when it comes to closing prices. IBM’s best performance was in 1967 with 593M, and its worst in 1993 with 45.75M. </h5>
                  <h4><b>Graph 4:</b></h4>
                  <h5>Stocks behavior depends on 4 stages of the Business Life Cycle, Expansion, Peak, Contraction,and Through. They exhibit cyclical behavior. Public Companies Stocks are affected by company economic performance and correspond to the occasional company stock splits.<b />
                  Rise and drop of stock volume is objective indicator of the increased activity of the stock market.  </h5>


            </div>

    </div>
    <!-- End #experience -->

    <div id="skills">

       <h1><font color="white">Tools</font></h1>
       <ul>
            <li>JavaScript</li>
            <li>MongoDB</li>
            <li>Python</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>Jupyter</li>
            <li>Flask</li>
        </ul>
        <h2><font color="white">Disclaimer: The information provided here is for PROJECT PURPOSES ONLY<br /> and it SHOULD NOT be considered legal or financial advice.</font></h2>
    </div>

    <div id="project">

        <form class="form-inline">
        <div class="form-group">

        </div>

  </form> 
        <div id="plot1"></div>
        <div id="plot2"></div>
        <div id="plot3"></div>
        <div id="plot4"></div>

        <canvas id="bar-chart-grouped" width="600" height="200"></canvas>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
        <script src="{{ url_for('static', filename='js/plot1.js') }}"></script>
        <script src="{{ url_for('static', filename='js/plot2.js') }}"></script>
        <script src="{{ url_for('static', filename='js/plots3.js') }}"></script>
        <script src="{{ url_for('static', filename='js/plot4.js') }}"></script>

    <!-- <script src="{{ url_for('static', filename='js/plots_proj.js') }}"></script> -->
    <!-- <script src="plots_proj.js"></script> -->   
    </div>

    <footer>
        <div class="container">

            <div class="row">
                <div class="col-sm-5 copyright">
                    <p>
                        Copyright &copy; 2018 Data Kings <!-- <a href="index.html"></a> ..... </a>-->
                    </p>
                </div>
                <div class="col-sm-2 top">
                    <span id="to-top">
                        <i class="fa fa-chevron-up" aria-hidden="true"></i>
                    </span>
                </div>
                <div class="social">
                    <ul>
                        <li>
                            <a href="https://github.com/ibaloyan/Full_Stock" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- End footer -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{{ url_for('static', filename= 'js/scripts.min.js' )}}"></script>
</body>

</html>
<!------------------------------------------------------------------------->